{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg">
            <a href="{{ base_path }}/">{{ site.title }}</a>
          </li>
          {% for link in site.data.navigation.main %} {% if link.url contains
          'http' %} {% assign domain = '' %} {% else %} {% assign domain =
          base_path %} {% endif %}
          <li class="masthead__menu-item">
            <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
          </li>
          {% endfor %}
          <li class="masthead__menu-item dropdown">
            <a href="">Tutorials</a>
            <div class="dropdown-content">
              <a href="https://pku-ahs.github.io/tutorial/en/master/" target="_blank">MICRO 2021</a>
              <a href="https://janusq.github.io/tutorials/home" target="_blank">ASPLOS 2024</a>
              <span>HPCA 2025 (To appear)</span>
              <!-- <a href="https://liqianglu-zju.github.io/404.html" target="_blank">HPCA 2025 (To appear)</a> -->
            </div>
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
